<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.zhao.pojo.Permission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="permModuleId" jdbcType="INTEGER" property="permmoduleId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="seq" jdbcType="TINYINT" property="seq" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
    <result column="type" jdbcType="CHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, code, permModuleId, url, status, seq, remark, operator, operate_time, operate_ip,
    type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_perm
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_perm
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhao.pojo.Permission">
    insert into sys_perm (id, name, code, 
      permModuleId, url, status, 
      seq, remark, operator, 
      operate_time, operate_ip, type
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{permmoduleId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{status,jdbcType=CHAR},
      #{seq,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{operateIp,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhao.pojo.Permission">
    insert into sys_perm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="permmoduleId != null">
        permmoduleId,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="seq != null">
        seq,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="operateIp != null">
        operate_ip,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="permmoduleId != null">
        #{permmoduleId,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateIp != null">
        #{operateIp,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhao.pojo.Permission">
    update sys_perm
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="permmoduleId != null">
        permModuleId = #{permmoduleId,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="seq != null">
        seq = #{seq,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateIp != null">
        operate_ip = #{operateIp,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhao.pojo.Permission">
    update sys_perm
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      permModuleId = #{permmoduleId,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      seq = #{seq,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      operate_ip = #{operateIp,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectPageList" resultType="com.zhao.vo.PermVo">
    select*from sys_perm
    join
    (select count(*) as total from sys_perm where permModuleId =#{permmoduleId}) u_cnt
    where permModuleId =#{permmoduleId} order by seq asc,operate_time desc  limit #{startIndex},#{pageSize}
  </select>

  <select id="selectCountBySamePermModule" resultType="int">
     select count(*) from sys_perm
     where
     permModuleId = #{permmoduleId}
     and  name=#{name}
     <if test="id!=null">
       and  id!=#{id}
     </if>
  </select>
  <select id="selectPermBySelect" resultMap="BaseResultMap">
      select * from sys_perm where url=#{url}
  </select>

  <select id="getAllPermByUser" resultType="int">
      select
            rp.permId
      from
            sys_user_role ur
      join  sys_role_perm rp on ur.roleId = rp.roleId
      where ur.userId = #{id}
  </select>
  <select id="getMenuPermList" resultType="com.zhao.vo.MenuVo">
      select
            p.name,p.url,p.id,ur.userId
       from
            sys_user_role ur
       join sys_role_perm rp on ur.roleId = rp.roleId
       RIGHT  join sys_perm p on p.id =  rp.permId
       where p.type = 0
  </select>
</mapper>