<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.dao.RbacLogMapper">
  <resultMap id="BaseResultMap" type="com.zhao.pojo.RbacLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="targetId" jdbcType="INTEGER" property="targetid" />
    <result column="oldValue" jdbcType="VARCHAR" property="oldvalue" />
    <result column="newValue" jdbcType="VARCHAR" property="newvalue" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
  </resultMap>

  <resultMap id="pageListMap" type="com.zhao.vo.LogVo" extends="BaseResultMap">
    <result column="total" property="total"></result>
  </resultMap>
  <sql id="Base_Column_List">
    id, type, targetId, oldValue, newValue, operator, operate_time, operate_ip
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhao.pojo.RbacLog">
    insert into sys_log (id, type, targetId, 
      oldValue, newValue, operator, 
      operate_time, operate_ip)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, #{targetid,jdbcType=INTEGER}, 
      #{oldvalue,jdbcType=VARCHAR}, #{newvalue,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{operateIp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhao.pojo.RbacLog">
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="targetid != null">
        targetId,
      </if>
      <if test="oldvalue != null">
        oldValue,
      </if>
      <if test="newvalue != null">
        newValue,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="operateIp != null">
        operate_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="targetid != null">
        #{targetid,jdbcType=INTEGER},
      </if>
      <if test="oldvalue != null">
        #{oldvalue,jdbcType=VARCHAR},
      </if>
      <if test="newvalue != null">
        #{newvalue,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateIp != null">
        #{operateIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhao.pojo.RbacLog">
    update sys_log
    <set>
      <if test="type != null">
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="targetid != null">
        targetId = #{targetid,jdbcType=INTEGER},
      </if>
      <if test="oldvalue != null">
        oldValue = #{oldvalue,jdbcType=VARCHAR},
      </if>
      <if test="newvalue != null">
        newValue = #{newvalue,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateIp != null">
        operate_ip = #{operateIp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhao.pojo.RbacLog">
    update sys_log
    set type = #{type,jdbcType=CHAR},
      targetId = #{targetid,jdbcType=INTEGER},
      oldValue = #{oldvalue,jdbcType=VARCHAR},
      newValue = #{newvalue,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      operate_ip = #{operateIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectPageList" parameterType="com.zhao.param.LogParam" resultMap="pageListMap">
        select*from sys_log	log join (select count(*) as total from sys_log) logCount
       where 1=1
       <if test="operator!=null">
      and operator like #{operator}
       </if>
    <if test="type!=null">
      and type=#{type}
    </if>
    <if test="beforeSeg!=null">
    and oldValue like #{beforeSeg}
    </if>
    <if test="afterSeg!=null">
      and newValue like #{afterSeg}
    </if>
    <if test="fromTime!=null">
      and operate_time &gt;= #{fromTime}
    </if>
    <if test="toTime!=null">
      and operate_time &lt;= #{toTime}
    </if>
  </select>
</mapper>