<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.zhao.pojo.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
    <result column="type" jdbcType="CHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, status, remark, operator, operate_time, operate_ip, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhao.pojo.Role">
    insert into sys_role (id, name, status, 
      remark, operator, operate_time, 
      operate_ip, type)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{operateIp,jdbcType=VARCHAR}, #{type,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhao.pojo.Role">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="operateIp != null">
        operate_ip,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateIp != null">
        #{operateIp,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhao.pojo.Role">
    update sys_role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateIp != null">
        operate_ip = #{operateIp,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhao.pojo.Role">
    update sys_role
    set name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      operate_ip = #{operateIp,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultType="com.zhao.vo.RoleVo">
      select id,name,status,remark,type from sys_role;
  </select>
  <select id="selectCountByIdAndName" resultType="int">
      select count(*) from sys_role
      where
      name=#{roleName}
      <if test="roleId!=null">
        and id != #{roleId}
      </if>
      ;
  </select>
  <select id="selectPermByUser" resultType="com.zhao.vo.PermRoleVo">
    select DISTINCT p.id,p.name,p.permModuleId,p.type,p.seq,true as 'hasPerm'
    from sys_role_perm rp
  INNER  JOIN sys_perm p on p.id = rp.permId
  INNER JOIN
  sys_user_role ur
  on rp.roleId = ur.roleId where ur.userId=#{userId}
  </select>

  <select id="selectPermByRole" resultType="com.zhao.vo.PermRoleVo">
    select DISTINCT p.id,p.name,p.permModuleId,p.type,p.seq,true as 'checked'
    from sys_role_perm rp
    INNER  JOIN sys_perm p on p.id = rp.permId
    where rp.roleId=#{roleId}
  </select>

  <select id="selectAllPerm" resultType="com.zhao.vo.PermRoleVo">
    select  id,name,permModuleId,type,seq,status
    from sys_perm
  </select>
  <delete id="deletePermByRole">
     delete from sys_role_perm where roleId= #{roleId}
  </delete>

  <insert id="insertPermByRole" parameterType="map">
    <foreach collection="rolePermissions" item="rolePerm" separator=";">
        insert into sys_role_perm(roleId,permId,operator,operate_time,operate_ip)
       values(#{rolePerm.roleid},#{rolePerm.permid},#{rolePerm.operator},#{rolePerm.operateTime},#{rolePerm.operateIp})
    </foreach>
  </insert>

  <select id="selectUserCountByRole" resultType="int">
    select  count(*)
    from sys_user_role
     where roleId=#{roleId}
  </select>

</mapper>